.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.vscode
Untitled
issues
node_modules

# atom config folder
.atom/

# html tutorial output
*.html

# deployment output
rsconnect/
inst/doc
doc
Meta
reference/
